* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height:  25px;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}


.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}


@media screen and (max-width: 768px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}